[Desktop Entry]
Name=ANGRYsearch
Comment=Instant file search
Categories=GNOME;Utility;
Exec=python3 /opt/angrysearch/angrysearch.py
Icon=angrysearch
Terminal=false
Type=Application
