[Desktop Entry]
Name=ANGRYsearch
Comment=Instant file search
Categories=GNOME;Utility;
Exec=angrysearch
Path=/usr/share/angrysearch/
Icon=angrysearch
Terminal=false
Type=Application
